In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Advanced Time Series Analysis for App Installs with Multiple Conditions

'''
Plot a time series line chart to show the trend of total installs over time, segmented by app category.
Highlight periods of significant growth by shading the areas under the curve where the increase in installs exceeds 20% month-over-month and
app name should not starts with x, y ,z and app category should start with letter " E " or " C " or " B " and 
We have to translate the Beauty category in Hindi and Business category in Tamil and Dating category in German while showing it on Graph. 
reviews should be more than 500 the app name should not contain letter "S" as well as 
this graph should work only between 6 PM IST to 9 PM IST apart from that time we should not show this graph in dashboard itself.

'''

'\nPlot a time series line chart to show the trend of total installs over time, segmented by app category.\nHighlight periods of significant growth by shading the areas under the curve where the increase in installs exceeds 20% month-over-month and\napp name should not starts with x, y ,z and app category should start with letter " E " or " C " or " B " and \nWe have to translate the Beauty category in Hindi and Business category in Tamil and Dating category in German while showing it on Graph. \nreviews should be more than 500 the app name should not contain letter "S" as well as \nthis graph should work only between 6 PM IST to 9 PM IST apart from that time we should not show this graph in dashboard itself.\n\n'

In [30]:
apps_df = pd.read_csv("E:/Data Analyst Intern Tasks/Jupyter/Cleaned Datasets/Cleaned_GooglePlaystore.csv")
reviews_df = pd.read_csv("E:/Data Analyst Intern Tasks/Jupyter/Cleaned Datasets/Cleaned_UserReviews.csv")

In [31]:
apps_df.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Log_Installs,Log_Reviews,Rating_Group,Revenue,Year
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,10000,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up,9.210340,5.068904,Top rated app,0.0,2018
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,13.122363,6.874198,Above average,0.0,2018
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,5000000,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up,15.424948,11.379508,Top rated app,0.0,2018

In [32]:
reviews_df.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity,Sentiment_Score
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333,0.9531
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462,0.6597
2,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000,0.6249
3,10 Best Foods for You,Best idea us,Positive,1.00,0.300000,0.6369
4,10 Best Foods for You,Best way,Positive,1.00,0.300000,0.6369

In [33]:
apps_df.describe()

,Rating,Reviews,Size,Installs,Price,Log_Installs,Log_Reviews,Revenue,Year
count,8196.000000,8.196000e+03,6771.000000,8.196000e+03,8196.000000,8196.000000,8196.000000,8.196000e+03,8196.000000
mean,4.173243,2.552515e+05,22.560671,9.165090e+06,1.037884,11.793175,7.824906,3.550848e+04,2017.358956
std,0.536625,1.985594e+06,22.763478,5.825087e+07,16.857882,3.696822,3.703210,9.461687e+05,1.146922
min,1.000000,1.000000e+00,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,2010.000000
25%,4.000000,1.260000e+02,5.500000,1.000000e+04,0.000000,9.210340,4.836282,0.000000e+00,2017.000000
50%,4.300000,3.004000e+03,14.000000,1.000000e+05,0.000000,11.512925,8.007700,0.000000e+00,2018.000000
75%,4.500000,4.381300e+04,32.000000,1.000000e+06,0.000000,13.815511,10.687686,0.000000e+00,2018.000000
max,5.000000,7.815831e+07,100.000000,1.000000e+09,400.000000,20.723266,18.174247,6.990000e+07,2018.000000

In [34]:
reviews_df.describe()

       Sentiment_Polarity  Sentiment_Subjectivity  Sentiment_Score
count        37427.000000            37427.000000     37427.000000
mean             0.182171                0.492770         0.342679
std              0.351318                0.259904         0.511166
min             -1.000000                0.000000        -0.986800
25%              0.000000                0.357143         0.000000
50%              0.150000                0.514286         0.461700
75%              0.400000                0.650000         0.772300
max              1.000000                1.000000         0.998400

In [35]:
apps_df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'Log_Installs', 'Log_Reviews', 'Rating_Group', 'Revenue',
       'Year'],
      dtype='object')

In [36]:
reviews_df.columns

Index(['App', 'Translated_Review', 'Sentiment', 'Sentiment_Polarity',
       'Sentiment_Subjectivity', 'Sentiment_Score'],
      dtype='object')

In [37]:
import matplotlib.patches as patches
from datetime import datetime, time
import pytz

In [38]:
# Check current time in IST
ist = pytz.timezone('Asia/Kolkata')
current_time = datetime.now(ist).time()

In [39]:
# Define allowed time window (6 PM to 9 PM IST)
allowed_start = time(18, 0)
allowed_end = time(21, 0)

In [40]:
# Proceed only if current time is within allowed window
if allowed_start <= current_time <= allowed_end:
    apps_df['Last Updated'] = pd.to_datetime(apps_df['Last Updated'], format='%Y-%m-%d')
    apps_df['YearMonth'] = apps_df['Last Updated'].dt.to_period('M')
    
    # Filter apps based on requirements:
    # a. App name doesn't start with x, y, z
    # b. Category starts with E, C, or B
    # c. Reviews > 500
    # d. App name doesn't contain 'S' (case insensitive)
    filtered_apps = apps_df[
        (~apps_df['App'].str.lower().str.startswith(('x', 'y', 'z'))) &
        (apps_df['Category'].str.upper().str.startswith(('E', 'C', 'B'))) &
        (apps_df['Reviews'] > 500) &
        (~apps_df['App'].str.contains('S', case=False))
    ]
    
    # Translate categories as specified
    category_translations = {
        'Beauty': 'सौंदर्य',  
        'Business': 'வணிகம்',  
        'Dating': 'Dating' 
    }
    
    filtered_apps['Translated_Category'] = filtered_apps['Category'].replace(category_translations)
    
    # Group by Translated_Category and YearMonth, sum installs
    ts_data = filtered_apps.groupby(['Translated_Category', 'YearMonth'])['Installs'].sum().unstack(level=0)
    
    # Calculate month-over-month growth
    #growth = ts_data.pct_change()
    growth = ts_data.pct_change(fill_method=None)

    
    # Find periods with >20% MoM growth for any category
    significant_growth = growth > 0.2
    plt.figure(figsize=(14, 8))
    
    # Plot each category's time series
    for category in ts_data.columns:
        # Convert Period index to datetime for plotting
        x = ts_data.index.to_timestamp()
        y = ts_data[category]        
        line, = plt.plot(x, y, label=category, marker='o')
        
        # Highlight significant growth periods
        for i in range(len(significant_growth)):
            if significant_growth.iloc[i][category] and i > 0:
                # Create a shaded area between current and previous point
                plt.fill_between(
                    x[i-1:i+1],
                    y[i-1:i+1],
                    color=line.get_color(),
                    alpha=0.3)
                
    plt.title('Total Installs Over Time by Category\n(Highlighting >20% Month-over-Month Growth)')
    plt.xlabel('Date')
    plt.ylabel('Total Installs (log scale)')
    plt.yscale('log')  # Use log scale for better visualization
    plt.grid(True, which='both', linestyle='--', linewidth=0.5)
    plt.legend(title='Category', bbox_to_anchor=(1.05, 1), loc='upper left')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()
else:
    print("Graph display is only available between 6 PM to 9 PM IST.")

Graph display is only available between 6 PM to 9 PM IST.